@media (max-width: 700px) {
    .herotype {
        margin: 100px 0;
    }

    #come-write h1, h1, #join-us h1 {
        font-size: 34px;
    }

    #come-write {
      min-height: 300px; 
    }

    .five.columns.herotype {
      width: 80%;
    }

    #quote {
      min-height: 200px;
    }

    #copy-editors {
      min-height: 300px;
    }

    #key-features {
      min-height:400px; 
    }

    #key-features img {
      max-width:150px; 
    }

    #key-features p{
      max-width:220px;
      margin: 0px auto 20px auto;
    }

    #key-features h1 {
      margin-top: 50px;
    }

    #key-features .last-feature p{
      max-width:220px;
      margin: 0px auto 50px auto;
    }

    .half {
      min-width: 400px;
      text-align: center;
      margin: 0px 20px; 
      float:none; 
    }

    .macbook {
      padding-top: 50px;
    }

    .half2 {
      min-width: 400px;
      margin: 20px 20px 40px 20px;  
      float:none; 
    }

    #join-us {
      min-height: 300px;
    }

/*    #join-us .six.columns.offset-by-three {
      width: 100%;
    }*/

}

@media only screen and (max-width: 479px) {

    header h1 {
        display:block;
        text-align: center;
        margin-top:20px;
    }

    #come-write h1, h1, #join-us h1 {
        font-size: 30px;
    }

    p, #come-write p, {
    font-size:16px;
    line-height: 19px;
    }

    h2 {
    font-size:22px;
    font-weight: 300;
    font-style: italic;
    line-height: 30px;
    }

    .half {
      min-width: 300px;
      text-align: center;
      margin: 0 20px;
      float:none;  
    }

    .half img {
        padding-top: 40px;
    }

    .half2 {
      min-width: 300px;
      margin: 20px 20px 40px 20px;  
      float:none; 
    }

    #key-features {
        min-width: ;
        width:100%;
    }

    #key-features h1 {
      margin-top: 50px;
      text-align: center;
    }


}



