@media (max-width: 700px) {
    .herotype {
        margin: 40px 0;
    }

    #come-write {
        min-height: 300px; 
    }

    .five.columns.herotype {
        width: 80%;
    }

}

@media only screen and (max-width: 479px) {

    header h1 {
      display:block;
      text-align: center;
      margin-top:20px;
    }

}