.full-width {
    width: 100%;
}

/* Navigation */
header {
    background-color: #fff;
    margin-top: 20px;
}

header h1 {
    margin:0;
    display: inline;
}

header nav {
    display:inline;
}

header nav ul {
    float: right;
    list-style-type: none;
    margin-top: 15px;
}

header nav ul li {
    display: inline;
    padding:0px 20px;
    text-align: right;
}

header nav ul li a {
    color:#2c3e50;
    text-decoration: none;
}

header nav ul li a:hover {
    color:#959595;
}

#come-write {
    position: relative;
    background-color: #3aaa5e;
    background-image: url(http://i.imgur.com/ftDolY5.gif?1);
    background-size: cover;
    background-position: center center;
    margin: 0;
    min-height: 500px; 
}

.herotype {
    margin: 147px 0;
}

.half, .half2 {
    width: 48%;
    float: left;
    margin: 147px 0;
}
.half2 {
    float: right;
}


/*.macshell {
    padding: 147px 0;
}*/

div#first-paragraph {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0,50%);
}

div#quote {
    background-color: #fff;
    min-height: 450px;
    vertical-align: middle;
}

div#copy-editors {
    background-color: #cccccc;
    height: 600px;
}

div#key-features {
    background-color: #fff;
    margin: 0;
    min-height: 450px;
}

div#footer {
    background-color: #317F80;
    min-height: 60px;
}

/* Type */
/* Headers */
#come-write h1, #last-headline, h2 {
    font-family: "Museo Slab", "Sanchez Slab", serif; 
}

#come-write h1, #last-headline {
   font-size:38px;  
   line-height: 41px;
   font-weight: 500;
}

h3, .navbar-item {
    font-size:16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: .02em;
}

h1, #last-headline, h2, .navbar-item {
    color:#2c3e50;
}

#main-headline, h1 {
    text-align: left
}

#last-headline, h2, h3 {
    text-align: center; 
}

#come-write h1 {
    color:#FFF;
}

h2 {
    font-size:25px;
    font-weight: 300;
    font-style: italic;
    line-height: 33px;
}

h3 {
    color:#959595;
}

#come-write p, h1, h3, h4 {
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif; 
}

#come-write p {
    font-size:18px;
    line-height: 22px;
}

p {
    color:#2c3e50;
    text-align: left;
}

#first-paragraph {
    color:#FFF;
    text-align: left;
}

#last-paragraph {
    color:#2c3e50;
    text-align: center;
}

