/* Navigation */
header {
    background-color: #fff;
    margin-top: 20px;
}

header h1 {
    margin:0;
    display: inline;
}

header nav {
    display:inline;
}

header nav ul {
    float: right;
    list-style-type: none;
    margin-top: 15px;
}

header nav ul li {
    display: inline;
    padding:0px 20px;
}

header nav ul li a {
    color:#2c3e50;
    text-decoration: none;
}

header nav ul li a:hover {
    color:#959595;
}

li {
    display: inline;
    padding-right: 1.5em;
    text-align: right;
}

div#come-write {
    background-color: #3aaa5e;
    background-image: url(http://i.imgur.com/ftDolY5.gif?1);
    background-size: cover;
    background-position: center center;
    margin: 0;
    min-height: 500px;
}

div#quote {
    background-color: #fff;
    min-height: 500px;
    vertical-align: middle;
}


div#copy-editors {
    background-color: #cccccc;
    min-height: 500px;
}

div#key-features {
    background-color: #fff;
    margin: 0;
    min-height: 500px;
}

div#footer {
    background-color: #317F80;
    min-height: 60px;
}

/* Type */
/* Headers */
#main-headline, h1, #last-headline, h2 {
    font-family: "Museo Slab", "Sanchez Slab", serif; 
    margin-top: 6em;
}

#main-headline, h1, #last-headline {
   font-size:38px;  
   line-height: 41px;
   font-weight: 500;
}

h3, .navbar-item {
    font-size:16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: .02em;
}

h1, #last-headline, h2, .navbar-item {
    color:#2c3e50;
}

#main-headline, h1 {
    text-align: left
}

#last-headline, h2, h3 {
    text-align: center; 
}

#main-headline {
    color:#FFF;
}

h2 {
    font-size:25px;
    font-weight: 300;
    font-style: italic;
    line-height: 33px;
}

h3 {
    color:#959595;
}

p, #first-paragraph, #last-paragraph, h3, h4 {
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif; 
}

p, #first-paragraph, #last-paragraph, {
    font-size:18px;
    line-height: 22px;
}

p {
    color:#2c3e50;
    text-align: left;
}

#first-paragraph {
    color:#FFF;
    text-align: left;
}

#last-paragraph {
    color:#2c3e50;
    text-align: center;
}




