body{
    background-image:url(http://i.imgur.com/ftDolY5.gif?1) no-repeat top center;
}
/* Basic */
div#come-write {
    background-color: #3aaa5e;
    background-image: url('../images/main-image.png');
    background-size: cover;
    background-position: center center;
    margin: 0;
    min-height: 500px;
}

div#quote {
    background-color: #fff;
    min-height: 500px;
}

div#copy-editors {
    background-color: #cccccc;
    margin: 0;
    min-height: 500px;
}

div#key-features {
    background-color: #fff;
    margin: 0;
    min-height: 500px;
}


/* Type */
#main-headline, h1, #last-headline, h2 {
    font-family: "Museo Slab", "Sanchez Slab", serif; 
}

#main-headline, h1, #last-headline {
   font-size:38px;  
   line-height: 41px;
   font-weight: 500;
}

h1, #last-headline, h2 {
    color:#2c3e50;
}

#main-headline, h1 {
    text-align: left
}

#last-headline, h2, h3 {
    text-align: center; 
}

#main-headline {
    color:#FFF;
}

h2 {
    font-size:25px;
    font-weight: 300;
    font-style: italic;
    line-height: 33px;
}

h3 {
    font-size:16px;
    color:#959595;
    font-style: bold;
    line-height: 19px;
}

p, #first-paragraph, #last-paragraph, h3 {
    font-family: "Proxima Nova", Helvetica, Arial, sans-serif; 
}

p, #first-paragraph, #last-paragraph, {
    font-size:18px;
    line-height: 22px;
}

p {
    color:#2c3e50;
    text-align: left;
}

#first-paragraph {
    color:#FFF;
    text-align: left;
}

#last-paragraph {
    color:#2c3e50;
    text-align: center;
}


